<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% data.forEach(function(da){ %>
        <div>
        <p> <%= da.firstname %><%= da.lastname %><br><%=  da.birthdate%><br><%= da.gender%><br>
            <%= da.email%><br><%=da.phonenumber%><a href="/delete/<%= da.id%>">delete</a></p>
        <% }) %>
        </div>
     
</body>
</html> -->